{% extends 'leaving/leaving_base.html' %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <h1 class="govuk-heading-l">Dev tools</h1>

    <h2 class="govuk-heading-m">Change user</h2>

    {% error_summary change_user_form %}

    <form action="{% url 'dev_tools:change-user' %}" method="post">
        {% csrf_token %}
        {% crispy change_user_form %}
    </form>

    <h2 class="govuk-heading-m">Create user</h2>

    {% error_summary create_user_form %}

    <form action="{% url 'dev_tools:create-user' %}" method="post">
        {% csrf_token %}
        {% crispy create_user_form %}
    </form>
{% endblock %}
