{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds govuk_frontend_django %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% error_summary form %}</div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                <em>{{ possessive_leaver_name }}</em> SRE off-boarding summary
            </h1>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaver's name</th>
                        <td class="govuk-table__cell">{{ leaver_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Work email</th>
                        <td class="govuk-table__cell">{{ leaver_email }}</td>
                    </tr>
                    {% if leaver_job_title %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Job title</th>
                            <td class="govuk-table__cell">{{ leaver_job_title }}</td>
                        </tr>
                    {% endif %}
                    {% if last_day %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Last working day</th>
                            <td class="govuk-table__cell">{{ last_day }}</td>
                        </tr>
                    {% endif %}
                    {% if leaving_date %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Leaving date</th>
                            <td class="govuk-table__cell">{{ leaving_date }}</td>
                        </tr>
                    {% endif %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">
                            {% if complete %}
                                {% gds_component "tag" classes="govuk-tag--green" text="Complete" %}
                            {% else %}
                                {% gds_component "tag" classes="govuk-tag--grey" text="To do" %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Tools and services to offboard</h2>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    {% for service in services %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link"
                                    href="{% url 'sre-service-and-tools-read-only' leaving_request_uuid=leaving_request.uuid field_name=service.field_name %}">{{ service.name }}</a>
                            </td>
                            <td class="govuk-table__cell">{{ service.comment }}</td>
                            <td class="govuk-table__cell govuk-!-text-align-right">
                                {% set tag_classes %}govuk-tag--{{ service.status_colour }}{% endset %}
                                {% gds_component "tag" classes=tag_classes text=service.status_text %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="govuk-button-group">
        <a href="{% url 'sre-detail' leaving_request_uuid=leaving_request.uuid %}"
            class="govuk-button"
            data-module="govuk-button">
            Edit record
        </a>
        <a class="govuk-link" href="{% url 'sre-listing-complete' %}">Return to SRE access removal Dashboard</a>
    </div>
{% endblock content %}
