{% extends "leaving/leaving_base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                <em>{{ leaver_name }}</em> service access removal
            </h1>
            <p class="govuk-body">
                <em>{{ leaver_name }}</em> access has been removed from the following services:
            </p>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Service name</th>
                        <th scope="col" class="govuk-table__header">Removed at</th>
                        <th scope="col" class="govuk-table__header">Removed by</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for access_removed_service in access_removed_services %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">{{ access_removed_service.1 }}</th>
                            <td class="govuk-table__cell">{{ access_removed_service.2.created_at }}</td>
                            <td class="govuk-table__cell">{{ access_removed_service.2.user }}</td>
                        </tr>
                    {% empty %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">No services have had access removed</th>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="govuk-button-group">
                <a href="{% url 'sre-detail' leaving_request_uuid=leaving_request.uuid %}"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Edit
                </a>
                <a class="govuk-link" href="{% url 'sre-listing-complete' %}">Return to SRE access removal Dashboard</a>
            </div>
        </div>
    </div>
{% endblock content %}
