{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary update_status_form %}
            {% error_summary add_note_form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l"><em>{{ leaver_name }}</em> SRE off-boarding</h1>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaver's name</th>
                        <td class="govuk-table__cell">{{ leaver_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Work email</th>
                        <td class="govuk-table__cell">{{ leaver_email }}</td>
                    </tr>
                    {% if leaver_job_title %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Job title</th>
                            <td class="govuk-table__cell">{{ leaver_job_title }}</td>
                        </tr>
                    {% endif %}
                    {% if last_day %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Last working day</th>
                            <td class="govuk-table__cell">{{ last_day }}</td>
                        </tr>
                    {% endif %}
                    {% if leaving_date %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Leaving date</th>
                            <td class="govuk-table__cell">{{ leaving_date }}</td>
                        </tr>
                    {% endif %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">
                            {% if complete %}
                                <strong class="govuk-tag govuk-tag--green">Complete</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">To do</strong>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">{{ service_name }}</h2>

            <form novalidate method='post'>
                <input type="hidden" name="form_name" value="update_status_form" />
                {% crispy update_status_form %}
            </form>

            <h3 class="govuk-heading-m">Notes</h3>
            <form novalidate method='post'>
                <input type="hidden" name="form_name" value="add_note_form" />
                {% crispy add_note_form %}
            </form>

            {% include "leaving/includes/task_notes.html" with task_notes=task_notes %}
        </div>
    </div>
{% endblock content %}
