{% extends "leaving/leaving_base.html" %}

{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l"><em>{{ leaver_name }}</em> SRE off-boarding</h1>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaver's name</th>
                        <td class="govuk-table__cell">{{ leaver_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Work email</th>
                        <td class="govuk-table__cell">{{ leaver_email }}</td>
                    </tr>
                    {% if leaver_job_title %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Job title</th>
                            <td class="govuk-table__cell">{{ leaver_job_title }}</td>
                        </tr>
                    {% endif %}
                    {% if last_day %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Last working day</th>
                            <td class="govuk-table__cell">{{ last_day }}</td>
                        </tr>
                    {% endif %}
                    {% if leaving_date %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Leaving date</th>
                            <td class="govuk-table__cell">{{ leaving_date }}</td>
                        </tr>
                    {% endif %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">
                            {% if complete %}
                                <strong class="govuk-tag govuk-tag--green">Complete</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">To do</strong>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Tools and services to offboard</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    {% for service in services %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link" href="{% url 'sre-service-and-tools' leaving_request_uuid=leaving_request.uuid field_name=service.field_name %}">{{ service.name }}</a></td>
                            <td class="govuk-table__cell">{{ service.comment }}</td>
                            <td class="govuk-table__cell govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--{{ service.status_colour }}">{{ service.status_text }}</strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if can_mark_as_complete %}
        <a href="{% url 'sre-confirm-complete' leaving_request_uuid=leaving_request.uuid %}" class="govuk-button" data-module="govuk-button">
            Complete
        </a>
    {% endif %}
{% endblock content %}
