{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block primary_navigation %}
    <div class="moj-primary-navigation">
        <div class="moj-primary-navigation__container">
            <div class="moj-primary-navigation__nav">
                <nav class="moj-primary-navigation" aria-label="Primary navigation">
                    <ul class="moj-primary-navigation__list">
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" {% if security_role.value == "bp" %}aria-current="page"{% endif %} href='{% url "security-team-listing-incomplete" %}?security-role=bp'>Building pass requests</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link" {% if security_role.value == "rk" %}aria-current="page"{% endif %} href='{% url "security-team-listing-incomplete" %}?security-role=rk'>ROSA Kit requests</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock primary_navigation %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <form action="" method="post">
                {% crispy form %}
            </form>
        </div>
    </div>

    <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item {% if show_incomplete %}govuk-tabs__list-item--selected{% endif %}">
                <a class="govuk-tabs__tab" href='{% url "security-team-listing-incomplete" %}'>
                    Waiting
                </a>
            </li>
            <li class="govuk-tabs__list-item {% if show_complete %}govuk-tabs__list-item--selected{% endif %}">
                <a class="govuk-tabs__tab" href='{% url "security-team-listing-complete" %}'>
                    Completed
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel">
            {% include "leaving/includes/leaving_request_table.html" with object_type_name=object_type_name page=page pagination_pages=pagination_pages %}
        </div>
    </div>
{% endblock content %}
