{% extends "leaving/leaving_base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Offboarding tasks</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Task</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Destroy building pass</td>
                        <td class="govuk-table__cell">
                            {% if pass_destroyed %}
                                <strong class="govuk-tag govuk-tag--green">Destroyed</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Pending</strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Manage security clearance</td>
                        <td class="govuk-table__cell">
                            {% if security_clearance_status %}
                                {% if security_clearance_status.value == "lapsed" or security_clearance_status.value == "other" %}
                                    <strong class="govuk-tag govuk-tag--green">
                                        {{ security_clearance_status.label }}
                                        {% if security_clearance_other_value %}({{ security_clearance_other_value }}){% endif %}
                                    </strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">{{ security_clearance_status.label }}</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Pending</strong>
                            {% endif %}
                        </td>
                    </tr>
                    {% for rosa_kit_task in rosa_kit_tasks %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ rosa_kit_task.name }}</td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--{{ rosa_kit_task.status.colour }}">{{ rosa_kit_task.status.text }}</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="govuk-button-group">
                <a href="{% url 'security-team-building-pass-confirmation' leaving_request_uuid %}"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Edit building pass status
                </a>
                <a href="{% url 'security-team-rosa-kit-confirmation' leaving_request_uuid %}"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Edit ROSA kit status
                </a>
                <a class="govuk-link" href="{% url 'security-team-listing-complete' %}">Return to completed leaving requests dashboard</a>
            </div>
        </div>
    </div>
{% endblock content %}
