{% extends "leaving/leaving_base.html" %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'security-team-listing-complete' %}" class="govuk-back-link">Back</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Summary of items received from <em>{{ leaver_name }}</em></h1>
            <p class="govuk-body">This is confirmation that the security pass and ROSA kit for <em>{{ leaver_name }}</em> has been received.</p>

            <a class="govuk-link" href="{% url 'security-team-listing-complete' %}">Return to completed leaving requests dashboard</a>
        </div>
    </div>
{% endblock %}
