{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    {% error_summary form %}
    <h1 class="govuk-heading-l">List security kit returned</h1>
    <p class="govuk-body">Select the items that <em>{{ leaver_name }}</em> has returned.</p>
    <form novalidate method='post'>
        <fieldset class="govuk-fieldset">
            <input type="hidden" name="uuid" value="{{ flow.current_task_record.uuid }}">
            {% crispy form %}
        </fieldset>
    </form>
{% endblock %}
