{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    {% error_summary form %}
    <h1 class="govuk-heading-l">Please remove access from the following tools and services for {{ leaver_name }}{% if leaving_date %} on {{ leaving_date }}{% endif %}.</h1>
    <p class="govuk-body">Check the box to confirm removal from:</p>
    <form novalidate method='post'>
        <fieldset class="govuk-fieldset">
            <input type="hidden" name="uuid" value="{{ flow.current_task_record.uuid }}">
            {% crispy form %}
        </fieldset>
    </form>
{% endblock %}
