{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l"><em>{{ leaver_name }}</em> Security off-boarding</h1>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaver's name</th>
                        <td class="govuk-table__cell">{{ leaver_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Work email</th>
                        <td class="govuk-table__cell">{{ leaver_email }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Last working day</th>
                        <td class="govuk-table__cell">{{ last_day }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaving date</th>
                        <td class="govuk-table__cell">{{ leaving_date }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">
                            {% if object.complete %}
                                <span class="complete">Complete</span>
                            {% else %}
                                <span class="incomplete">Incomplete</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">List security kit returned</h2>
            <p class="govuk-body">Select the items that <em>{{ leaver_name }}</em> has returned.</p>
            <form novalidate method='post'>
                <fieldset class="govuk-fieldset">
                    {% crispy form %}
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
