{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">This accessibility statement applies to the {{ SERVICE_NAME }} website:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="https://jml.trade.gov.uk/" class="govuk-link">https://jml.trade.gov.uk/</a>
                </li>
            </ul>
            <h2 class="govuk-heading-m">Using this website (online service)</h2>
            <p class="govuk-body">
                This online service is run by the {{ DEPARTMENT_NAME }}. We want as many people as possible to be able to use this online service. For example, that means you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 500% without the text spilling off the screen</li>
                <li>navigate the service using just a keyboard</li>
            </ul>
            <p class="govuk-body">We've also made the text as simple as possible to understand.</p>
            <p class="govuk-body">
                <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
            </p>
            <h2 class="govuk-heading-m">About the accessibility of this service</h2>
            <p class="govuk-body">
                We used components in the GOV.UK Design System to build this service. The <a href="https://design-system.service.gov.uk/accessibility/"
    class="govuk-link">Design System accessibility statement</a> explains the current state of accessibility for these components.
            </p>
            <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you cannot get from the start of the service to the end using speech recognition software</li>
                <li>
                    you cannot listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
                </li>
            </ul>
            <h2 class="govuk-heading-m">About the current accessibility of this service</h2>
            <p class="govuk-body">In November 2022 we completed an independent WCAG 2.1 audit for this online service.</p>
            <p class="govuk-body">
                The service has since been brought in line to be complient with the Web Content Accessibility Guidelines version 2.1 AA standard.
            </p>
            <h3 class="govuk-heading-s">2022 findings for improvements to service and current status</h3>
            <h4 class="govuk-heading-s">Page design</h4>
            {% gds_summary_list %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Finding 4" %}
                    {% gds_summary_list_row_value_inline text="Not all fields in a form correctly linked to their label" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Fix" %}
                    {% gds_summary_list_row_value_inline text="Add a relationship attribute to forms and fields" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Status" %}
                    {% gds_summary_list_row_value_inline text="Completed" %}
                {% endgds_summary_list_row %}
            {% endgds_summary_list %}
            {% gds_summary_list %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Finding 5" %}
                    {% gds_summary_list_row_value_inline text="Grouped form elements do not have appropriate group title" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Fix" %}
                    {% gds_summary_list_row_value_inline text="Create legend for form elements to denote relationships" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Status" %}
                    {% gds_summary_list_row_value_inline text="Completed" %}
                {% endgds_summary_list_row %}
            {% endgds_summary_list %}
            <h4 class="govuk-heading-s">Assistive technology interactions</h4>
            {% gds_summary_list %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Finding 6" %}
                    {% gds_summary_list_row_value_inline text="Staff search results not available to assistive technologies" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Fix" %}
                    {% gds_summary_list_row_value_inline text="Announce search results to assistive technology in use" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Status" %}
                    {% gds_summary_list_row_value_inline text="Completed" %}
                {% endgds_summary_list_row %}
            {% endgds_summary_list %}
            <h4 class="govuk-heading-s">Page behaviour</h4>
            {% gds_summary_list %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Finding 7" %}
                    {% gds_summary_list_row_value_inline text="Pages with multiple forms have unexpected return behaviours when forms are submitted" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Fix" %}
                    {% gds_summary_list_row_value_inline text="Return user to last position in a given form (focus)" %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Status" %}
                    {% gds_summary_list_row_value_inline text="Completed" %}
                {% endgds_summary_list_row %}
            {% endgds_summary_list %}
            <h2 class="govuk-heading-m">What to do if you can't access part of this service</h2>
            <p class="govuk-body">
                If you need information on this website in a different format, you can request support in the following ways:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    email <a class="govuk-link" href="mailto:{{ JML_TEAM_CONTACT_EMAIL }}">{{ JML_TEAM_CONTACT_EMAIL }}</a>
                </li>
                <li>the {{ SERVICE_NAME }} feedback form accessible on this page</li>
            </ul>
            <h2 class="govuk-heading-m">Reporting accessibility problems</h2>
            <p class="govuk-body">We're always looking to improve the accessibility of this online service.</p>
            <p class="govuk-body">
                If you find any problems not listed on this page, or think we are not meeting accessibility requirements, contact us on <a class="govuk-link" href="mailto:{{ JML_TEAM_CONTACT_EMAIL }}">{{ JML_TEAM_CONTACT_EMAIL }}</a>.
            </p>
            <p class="govuk-body">When contacting us, give as much detail as you can about:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your issues or concerns with the service</li>
                <li>any assistive technologies you are using</li>
            </ul>
            <h2 class="govuk-heading-m">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations.
            </p>
            <p class="govuk-body">
                If you're not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.
            </p>
            <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
            <p class="govuk-body">
                The {{ DEPARTMENT_NAME }} is committed to making its online services accessible, in accordance with the <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made"
    class="govuk-link">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.
            </p>
            <p class="govuk-body">
                This online service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliance issues listed on this page.
            </p>
            <h2 class="govuk-heading-m">Issues with interactive tools and transactions</h2>
            <p class="govuk-body">
                There are known issues with the GOV.UK Design System, as explained in the Design System accessibility guide. We will update our service with any accessibility fixes once they are released to the GOV.UK Design System.
            </p>
            <h2 class="govuk-heading-m">How we tested this online service</h2>
            <p class="govuk-body">Basic tests were carried out on this online service in October and November of 2022.</p>
            <p class="govuk-body">
                The service was tested from start to finish with keyboard testing, screen readers and zooming in to 300%. These tests were carried out by the {{ DEPARTMENT_NAME }}.
            </p>
            <p class="govuk-body">
                In November 2022 we completed an external accessibility audit service to complete a thorough audit of the service. In December 2022, we began the process of implementing recommendations provided by the service.
            </p>
            <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
            <p class="govuk-body">
                We are in the process of making changes to the service based on recommendations from the full WCAG 2.1 audit. We aim to implement these by 31 December 2022.
            </p>
            <p class="govuk-body">This statement was prepared on 1 December 2022. It was last reviewed on 9 December 2022.</p>
            <p class="govuk-body">
                This service was last tested during the week beginning 14 November 2022. Tests were done to check compliance with WCAG v2.1, levels A and AA. The tests were carried out by DAC (Digital Accessibility Centre).
            </p>
            <p class="govuk-body">This statement was written on 04 January 2024.</p>
        </div>
    </div>
{% endblock content %}
