{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary add_asset_form %}
            {% error_summary cirrus_return_form %}
            {% error_summary cirrus_return_form_no_assets %}
        </div>
    </div>
    {% include "leaving/leaver/cirrus/includes/header.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Cirrus equipment assigned to you:</h2>
            {% if cirrus_assets %}
                <dl class="govuk-summary-list">
                    {% for asset in cirrus_assets %}
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                {{ asset.name }}
                                {% if asset.tag %}- {{ asset.tag }}{% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link"
                                    href="{% url 'leaver-cirrus-equipment-delete' leaving_request.uuid asset.uuid %}">Remove</a>
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
                <p class="govuk-body">If you have any Cirrus kit not listed above, please add them.</p>
            {% else %}
                <p class="govuk-body">Currently no Cirrus kit listed.</p>
            {% endif %}
            <form novalidate method='post'>
                <input type="hidden" name="form_name" value="add_asset_form" />
                {% crispy add_asset_form %}
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form novalidate method='post'>
                {% if cirrus_assets %}
                    <input type="hidden" name="form_name" value="cirrus_return_form" />
                    {% crispy cirrus_return_form %}
                    <script>
                        getAddress.autocomplete(
                            'home_address_line_1',
                            '{{ GETADDRESS_TOKEN }}',
                            {
                                output_fields:{
                                    line_1:'home_address_line_1',
                                    line_2:'home_address_line_2',
                                    town_or_city:'home_address_city',
                                    county:'home_address_county',
                                    postcode:'home_address_postcode',
                                },
                            }
                        );
                    </script>
                {% else %}
                    <input type="hidden" name="form_name" value="cirrus_return_form_no_assets" />
                    {% crispy cirrus_return_form_no_assets %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}
