{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <a href="{% url 'leaver-display-screen-equipment' %}" class="govuk-back-link">Back</a>

    {% error_summary correction_form %}

    {% include "leaving/progress_indicator.html" with steps=progress_steps %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Laptop, phone and other IT equipment</h1>
            <p class="govuk-body">Please confirm what Cirrus IT equipment you have. Generally, this is your laptop and phone but may include other items. Cirrus equipment usually has an asset tag label. which includes the help-desk phone number 'Tel: 0000 000 0000'.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Equipment currently assigned to you</h2>
            <p class="govuk-body">If you no longer have the items listed, please delete to remove them.</p>
            {% for asset in cirrus_assets %}
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Asset name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ asset.name }}
                        </dd>
                    </div>
                    {% if asset.tag %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Asset tag
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ asset.tag }}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
                <a href="{% url 'leaver-cirrus-equipment-delete' asset.uuid %} " class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Delete
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Additional equipment:</h2>
            <p class="govuk-body">If you have any cirrus items not listed above, please add them.</p>
            <form novalidate method='post'>
                {% csrf_token %}
                <input type="hidden" name="form_name" value="add_asset_form">
                {% include "includes/govt_uk_form.html" with form=add_asset_form %}
                <input type="submit" value="Add" class="govuk-button govuk-button govuk-button--secondary" data-module="govuk-button"/>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form novalidate method='post'>
                {% csrf_token %}
                <input type="hidden" name="form_name" value="correction_form">
                {% crispy correction_form %}
            </form>
        </div>
    </div>
{% endblock %}
