{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'leaver-return-options' %}" class="govuk-back-link">Back</a>
            {% error_summary form %}
            {% include "leaving/progress_indicator.html" with steps=progress_steps %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/govt_error_summary.html" with errors=errors %}
            {% if return_option == "office" %}
                <h1 class="govuk-heading-l">Returning Cirrus kit to the office</h1>
                <p class="govuk-body">Return all your equipment to the Cirrus tech bar on your last working day.</p>
                <p class="govuk-body">The Cirrus tech bar team can be found on the 3rd floor of Old Admiralty Building. It is open from 9am to 5pm. You can contact them by email at __email_address__ or by calling __phone_number__</p>
                <h2 class="govuk-heading-m">Contact information for return to the office</h2>
            {% else %}
                <h1 class="govuk-heading-l">Home collection of Cirrus kit</h1>
                <h2 class="govuk-heading-m">Contact information for collection</h2>
            {% endif %}
            <p class="govuk-body">This information is required to arrange for the return of your equipment. It will only be used for DIT off-boarding processes.</p>
            <form novalidate method='post'>
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
