{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'leaver-display-screen-equipment' %}" class="govuk-back-link">Back</a>
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Page 2 of 4</span>
            <h1 class="govuk-heading-l">Do you have Cirrus kit?</h1>
            <form novalidate method='post'>
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock content %}
