{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'leaver-has-assets' %}" class="govuk-back-link">Back</a>
            {% error_summary form %}
        </div>
    </div>

    {% include "leaving/leaver/cirrus/includes/header.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form novalidate method='post'>
                {% crispy form %}
            </form>
        </div>
    </div>

{% endblock content %}
