{% load static govuk_frontend_django %}

{% url "start" as leavers_url %}
{% url "cookie-notice" as cookies_url %}
{% url "beta-service-feedback" as feedback_url %}
{% url "contact-us-page" as contact_url %}
{% url "accessibility-statement" as accessibility_url %}

{% comment %}
FIXME: Things that need considering:
- Add ability to use a custom logo
{% endcomment %}
{% gds_footer %}
    {% gds_footer_meta %}
        {% gds_footer_meta_item href=leavers_url text="Leaving service" %}
        {% gds_footer_meta_item href=cookies_url text="Cookies" %}
        {% gds_footer_meta_item href=feedback_url text="Feedback" %}
        {% gds_footer_meta_item href=contact_url text="Contact" %}
        {% gds_footer_meta_item href=accessibility_url text="Accessibility" %}
    {% endgds_footer_meta %}
    {% comment %} <img height="71"
            width="150"
            src="{% static 'assets/dit-logo.svg' %}"
            alt="{{ DEPARTMENT_NAME }}"/> {% endcomment %}
{% endgds_footer %}
