{% extends "base.html" %}
{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.fullname}}
    {{form.mobile}}
    <div class="govuk-grid-row">
        <div class="col-md-4">
            {{form.emp_code}}
        </div>
        <div class="col-md-8">
            {{form.position}}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="col-md-8">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit
            </button>    
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" class="govuk-button">
                Back to list
            </a>
        </div>
    </div>

</form>

{% endblock %}