{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_gds govuk_frontend_django %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">
                SOME CONTENT TO EXPLAIN WHAT CANCELLING A LEAVING REQUEST IS FOR AND WHY YOU MIGHT WANT TO DO IT.
            </p>
            <div class="govuk-button-group">
                {% gds_component "button" href=cancel_url text="Cancel leaving request" classes="govuk-button--warning" %}
                {% gds_component "button" href=back_url text="Go back" classes="govuk-button--secondary" %}
            </div>
        </div>
    </div>
{% endblock content %}
