{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds govuk_frontend_django %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% error_summary form %}</div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if user_is_line_manager %}<span class="govuk-caption-l">Page {{ page_count }} of {{ page_count }}</span>{% endif %}
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% include "leaving/line_manager/includes/staff_card.html" with staff_details=leaver %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% set leaver_confirmation_href %}
                {{ leaver_confirmation_view_url }}?{{ return_to_confirmation_query }}
            {% endset %}
            {% gds_summary_list %}
                {% gds_summary_list_card %}
                    {% gds_summary_list_card_title %}
                        {{ possessive_leaver_name }} information
                    {% endgds_summary_list_card_title %}
                {% endgds_summary_list_card %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Leaving date" %}
                    {% gds_summary_list_row_value %}
                        {{ leaving_date }}
                    {% endgds_summary_list_row_value %}
                    {% gds_summary_list_row_actions %}
                        {% gds_summary_list_row_actions_item href=leaver_confirmation_href %}
                            Edit<span class="govuk-visually-hidden">leaving date</span>
                        {% endgds_summary_list_row_actions_item %}
                    {% endgds_summary_list_row_actions %}
                {% endgds_summary_list_row %}
                {% gds_summary_list_row %}
                    {% gds_summary_list_row_key_inline text="Last working day" %}
                    {% gds_summary_list_row_value %}
                        {{ last_day }}
                    {% endgds_summary_list_row_value %}
                    {% gds_summary_list_row_actions %}
                        {% gds_summary_list_row_actions_item href=leaver_confirmation_href %}
                            Edit<span class="govuk-visually-hidden">last working day</span>
                        {% endgds_summary_list_row_actions_item %}
                    {% endgds_summary_list_row_actions %}
                {% endgds_summary_list_row %}
                {% if data_recipient %}
                    {% gds_summary_list_row %}
                        {% gds_summary_list_row_key_inline text="Leaver data transfer" %}
                        {% gds_summary_list_row_value %}
                            {{ data_recipient.first_name }} {{ data_recipient.last_name }}
                        {% endgds_summary_list_row_value %}
                        {% gds_summary_list_row_actions %}
                            {% gds_summary_list_row_actions_item href=leaver_confirmation_href %}
                                Edit<span class="govuk-visually-hidden">leaver data transfer recipient</span>
                            {% endgds_summary_list_row_actions_item %}
                        {% endgds_summary_list_row_actions %}
                    {% endgds_summary_list_row %}
                {% endif %}
            {% endgds_summary_list %}
        </div>
    </div>
    {% if leaving_request.show_hr_and_payroll %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% set hr_payroll_href %}
                    {{ details_view_url }}?{{ return_to_confirmation_query }}
                {% endset %}
                {% gds_summary_list %}
                    {% gds_summary_list_card %}
                        {% gds_summary_list_card_title_inline text="HR and payroll" %}
                    {% endgds_summary_list_card %}
                    {% gds_summary_list_row %}
                        {% gds_summary_list_row_key_inline text="Annual leave" %}
                        {% gds_summary_list_row_value %}
                            {{ annual_leave }}
                            {% if has_annual_leave %}
                                <br />
                                {{ annual_number }} {{ annual_leave_measurement }}
                            {% endif %}
                        {% endgds_summary_list_row_value %}
                        {% gds_summary_list_row_actions %}
                            {% gds_summary_list_row_actions_item href=hr_payroll_href %}
                                Edit<span class="govuk-visually-hidden">annual leave</span>
                            {% endgds_summary_list_row_actions_item %}
                        {% endgds_summary_list_row_actions %}
                    {% endgds_summary_list_row %}
                    {% gds_summary_list_row %}
                        {% gds_summary_list_row_key_inline text="Flexi-leave" %}
                        {% gds_summary_list_row_value %}
                            {{ flexi_leave }}
                            {% if has_flexi_leave %}
                                <br />
                                {{ flexi_number }} Hours
                            {% endif %}
                        {% endgds_summary_list_row_value %}
                        {% gds_summary_list_row_actions %}
                            {% gds_summary_list_row_actions_item href=hr_payroll_href %}
                                Edit<span class="govuk-visually-hidden">flexi leave</span>
                            {% endgds_summary_list_row_actions_item %}
                        {% endgds_summary_list_row_actions %}
                    {% endgds_summary_list_row %}
                {% endgds_summary_list %}
            </div>
        </div>
    {% endif %}
    {% if leaving_request.show_line_reports %}
        {% if line_reports %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% gds_table caption="Team members" captionClasses="govuk-heading-m" columns=line_reports_table_headers rows=line_reports %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Send us {{ possessive_leaver_name }} leaving information</h2>
            <p class="govuk-body">
                By sending this information, you are confirming that, to the best of your knowledge, the details you are providing are correct.
            </p>
            <p class="govuk-body">You will receive an email after you accept and send.</p>
            {% crispy form %}
        </div>
    </div>
{% endblock content %}
