{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "leaving/progress_indicator.html" with steps=progress_steps %}
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">Please review this information before submitting, editing if necessary.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">{{ possessive_leaver_name }} information</h2>
            {% include "staff_search/staff_result.html" with staff_details=leaver %}

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaver data transfer</th>
                        <td class="govuk-table__cell">{{ data_recipient.first_name }} {{ data_recipient.last_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Leaving date</th>
                        <td class="govuk-table__cell">{{ leaving_date }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Last working day</th>
                        <td class="govuk-table__cell">{{ last_day }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Reason for leaving</th>
                        <td class="govuk-table__cell">{{ reason_for_leaving }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ leaver_confirmation_view_url }}" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">Edit information</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">HR and payroll</h2>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Annual leave</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Is there leave to be deducted or paid?</th>
                        <td class="govuk-table__cell">{{ annual_leave }}</td>
                    </tr>
                    {% if has_annual_leave %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">How is it measured?</th>
                            <td class="govuk-table__cell">{{ annual_leave_measurement }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Quantity</th>
                            <td class="govuk-table__cell">{{ annual_number }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Flexi leave</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Is there leave to be deducted or paid?</th>
                        <td class="govuk-table__cell">{{ flexi_leave }}</td>
                    </tr>
                    {% if has_flexi_leave %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Number of hours</th>
                            <td class="govuk-table__cell">{{ flexi_number }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <a href="{{ details_view_url }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit
                information</a>
        </div>
    </div>

    <form method="POST">
        {% crispy form %}
    </form>
{% endblock %}