{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Page 2 of 4</span>
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">The information provided on this page will ensure that {{ leaver_name }} is paid correctly
                and on time. Please visit the
                <a class="govuk-link"
                    href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/policies/payment-of-salary/">payment
                    of salary policy</a> for more information.
            </p>
            <form id="hr_payroll_form" novalidate method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>

    <script type="text/javascript">
        let hrPayrollForm = document.getElementById("hr_payroll_form");
        let annualNumberFieldset = document.getElementById("annual_number_fieldset");
        let annualLeaveMeasurementFieldset = document.getElementById("annual_leave_measurement_fieldset");
        let flexiNumberFieldset = document.getElementById("flexi_number_fieldset");

        function updateForm() {
            let annualLeave = hrPayrollForm.elements["annual_leave"].value;
            let annualLeaveMeasurement = hrPayrollForm.elements["annual_leave_measurement"].value;
            annualNumberFieldset.children.item(0).innerText = "Number of " + annualLeaveMeasurement + " to be " + annualLeave;

            if (annualLeave != "None") {
                annualLeaveMeasurementFieldset.style.display = "";
                if (annualLeaveMeasurement) {
                    annualNumberFieldset.style.display = "";
                } else {
                    annualNumberFieldset.style.display = "none";
                    hrPayrollForm.elements["annual_number"].value = "";
                }
            } else {
                annualNumberFieldset.style.display = "none";
                hrPayrollForm.elements["annual_number"].value = "";
                annualLeaveMeasurementFieldset.style.display = "none";
                Array.from(hrPayrollForm.elements["annual_leave_measurement"]).forEach(function (element) {
                    element.checked = false;
                });
            }

            let flexiLeave = hrPayrollForm.elements["flexi_leave"].value;
            flexiNumberFieldset.children.item(0).innerText = "Number of hours to be " + flexiLeave;
            if (flexiLeave != "None") {
                flexiNumberFieldset.style.display = "";
            } else {
                flexiNumberFieldset.style.display = "none";
                hrPayrollForm.elements["flexi_number"].value = "";
            }
        }
        updateForm();
        hrPayrollForm.addEventListener("change", updateForm);
    </script>
{% endblock content %}
