{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'who' %}" class="govuk-back-link">Back</a>
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Confirm the Leaver's information</h1>
            <p class="govuk-body">As the line manager of <em>{{ leaver_name }}</em> we need you to confirm the following:</p>
            <form novalidate method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
