{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Page 1 of 4</span>
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">As {{ possessive_leaver_name }} Line Manager you need to confirm their details,
                updating when necessary.</p>

            <h2 class="govuk-heading-m">{{ possessive_leaver_name }} information</h2>
            {% include "staff_search/staff_result.html" with staff_details=leaver %}

            <h2 class="govuk-heading-m">{{ possessive_leaver_name }} data transfer</h2>
            <p class="govuk-body">If the leaver has any files stored in Google Drive, who should these files
                be transferred to?</p>
            {% include "staff_search/staff_result.html" with staff_details=data_recipient %}
            <a href="{{ data_recipient_search }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Change recipient</a>

            <form novalidate method="post">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock content %}