{% extends "leaving/leaving_base.html" %}

{% block main_class_names %}back-link-format{% endblock %}

{% block content %}
    <h2 class="govuk-heading-m">Search for the person leaving</h2>
    <form novalidate method='post'>
        {% csrf_token %}
        {% include "includes/govt_uk_form.html" with form=form %}
        <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
    </form>
    {% if people_list %}
        {{ person }}
        <h2 class="govuk-heading-m">Select the leaver</h2>
        {% for person in people_list %}
            {% include "includes/leaver_details.html" with leaver_details=person %}
            <a href="{% url "line-manager-confirmation" %}?person_id={{ person.uuid }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Select</a>
        {% endfor %}
    {% endif %}
{% endblock %}
