{% extends "leaving/leaving_base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">{{ page_title }}</h1>
            </div>
            {% if leaving_request.service_now_offline %}
                <p class="govuk-body">
                    You have now completed the first part of the Line Manager's offboarding process for {{ leaver_name }}. The HR, Security and SRE teams will use the information you provided to complete {{ possessive_leaver_name }} offboarding.
                </p>
                <h2 class="govuk-heading-m">You now need to log a Service Now request</h2>
                <p class="govuk-body">
                    You must log a <a class="govuk-link"href="{{ SERVICE_NOW_OFFLINE_URL }}" target="_blank">Service Now leaving request for your leaver</a>.
                    This ensures that their accounts are closed, and any IT equipment is returned. This should be done as soon as possible and no later than 7 days before their leaving date.
                </p>
                <p class="govuk-body">
                    Here is the information {{ leaver_name }} has provided. Use this to help you fill in the Service Now Leaver request.
                </p>
                <p class="govuk-body">We will also email you a link to this information.</p>
                {% include "leaving/line_manager/includes/offline_service_now_details.html" %}
            {% else %}
                <p class="govuk-body">You have now finished the Line manager's offboarding process for {{ leaver_name }}.</p>
                <p class="govuk-body">We have sent you a confirmation email.</p>
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    The HR, Security and SRE teams will use the information you provided to complete {{ possessive_leaver_name }} offboarding.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
