{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">The last step for you to offboard {{ leaver_name }} is to inform payroll by completing the UKSBS form, and update the resulting PDF into our system. Below here you will find guidance and key information to complete this last step.</p>
            <p class="govuk-body">You need to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Go to the 'My Leavers' section inside the <a href="#" target="_blank">UKSBS home page</a> and select 'UKSBS Leavers form'.</li>
                <li>Report in the form whether the leaver is paid or unpaid. A leaver is unpaid only when they are a fast streamer or on loan from another department.</li>
                <li>Report in the form whether the leaver has annual leave remaining and if a payment or a deduction should be made. As their Line Manager, you should have access to this information through UKSBS Connect. More guidance on UKSBS Connect is available <a href="#" target="_blank">here</a>.</li>
            </ul>
            <p class="govuk-body">Here is some of the additional information you will need to complete the 'UKSBS Leavers form':</p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ leaver_name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ leaver_email }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Home address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% firstof leaver_address "Not available" %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% firstof leaver_phone "Not available" %}
                    </dd>
                </div>
            </dl>
            <p class="govuk-body">Once you have completed the UKSBS form, download the form in PDF format, and upload it below here. In your mail you have received the same instruction to come back to this page.</p>
            <p class="govuk-body">Please <a href="#">contact us</a> if you need assistance.</p>

            <form novalidate method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>

{% endblock content %}
