{% extends "leavers_base.html" %}

{% block content %}

<a href="/leaver-or-line-manager/" class="govuk-back-link">Back</a>
</br>
</br>
<form action="/search/" method="post">
    {% csrf_token %}
    <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Search
        </label>
        <div id="email-hint" class="govuk-hint">
          Find the leaver using there name or email
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <a href="/search-result/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Submit
    </a>
</form>
{% endblock %}