{% extends "base.html" %}

{% block content %}
    <h1 class="govuk-heading-l">Leaving DIT</h1>
    <p>Pellentesque et ante eleifend nisl sagittis placerat. Sed suscipit tortor ac nisl tincidunt aliquam. Proin sed dictum mauris, nec imperdiet ante. Vivamus tristique tortor eu felis lobortis efficitur. In sagittis, odio quis rutrum cursus, dui purus semper nisl, et convallis lectus libero auctor turpis. Donec consequat ultricies tincidunt.</p>
    <ul>
        <li>Lorum ipsum</li>
        <li>Eleifend nisl</li>
    </ul>
    <button class="govuk-button" data-module="govuk-button">
        Start now
    </button>
{% endblock %}
