.pagination {

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
