$govuk-page-width: 1800px;
@import "./node_modules/govuk-frontend/govuk/all";

.leaver-image {
  width:100%;
  margin-bottom: 26px;
  border:1px solid black;
}

.back-link-format {
  padding-top: 10px!important;
}

.govuk-back-link {
  margin-bottom: 40px;
}
