$govuk-page-width: 1800px;
@import "./node_modules/govuk-frontend/govuk/all";
@import "./leavers/static/leavers/css/pagination";
@import "./leavers/static/leavers/css/progress_indicator";
@import "./leavers/static/leavers/css/sre_leaving_requests_table";
@import "./leavers/static/leavers/css/healthcheck";

.leaver-image {
  width: 100%;
  margin-bottom: 26px;
  border: 1px solid black;
}

.back-link-format {
  padding-top: 10px !important;
}

.govuk-back-link {
  margin-bottom: 40px;
}