DEBUG=True
ASYNC_FILE_UPLOAD=False
DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE_URL=psql://postgres:postgres@db:5432/leavers
SECRET_KEY=do_not_use_this_in_production
ALLOWED_HOSTS=localhost,localhost:8000
AUTHBROKER_SCOPES='read write'
AUTHBROKER_URL=https://sso.trade.gov.uk/
AUTHBROKER_CLIENT_ID=xxx
AUTHBROKER_CLIENT_SECRET=xxx
CELERY_BROKER_URL=redis://redis:6379
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=eu-west-2
AWS_STORAGE_BUCKET_NAME=xxx
CLAM_AV_USERNAME=xxx
CLAM_AV_PASSWORD=xxx
CLAM_AV_DOMAIN=xxx
USE_SELENIUM_HUB=True
LOG_TO_ELK=False
ELK_ADDRESS=xxx
GTM_CODE=None
HAWK_INCOMING_ACCESS_KEY=xxx
HAWK_INCOMING_SECRET_KEY=xxx
