[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.6.0"
appnope = "==0.1.0"
asgiref = "==3.3.4"
atomicwrites = "==1.2.1"
attrs = "==18.1.0"
billiard = "==3.6.3.0"
boto3 = "==1.17.89"
botocore = "==1.20.89"
celery = "==4.4.4"
certifi = "==2018.8.24"
chardet = "==3.0.4"
decorator = "==4.2.1"
diff-match-patch = "==20121119"
dj-database-url = "==0.5.0"
django-admin-list-filter-dropdown = "==1.0.1"
django-adv-cache-tag = "==1.1.3"
django-appconf = "==1.0.4"
django-audit-log-middleware = "==0.0.4"
django-autocomplete-light = "==3.3.2"
django-axes = "==5.9.0"
django-bootstrap-breadcrumbs = "==0.9.2"
django-chunk-upload-handlers = "==0.0.10"
django-compressor = "==2.4"
django-environ = "==0.4.5"
django-extensions = "==2.1.2"
django-filter = "==2.4.0"
django-guardian = "==2.2.0"
django-import-export = "==2.4.0"
django-ipware = "==3.0.2"
django-log-formatter-ecs = "==0.0.3"
django-pivot = "==1.7"
django-redis = "==4.12.1"
django-reversion = "==3.0.7"
django-sass-processor = "==1.0.1"
django-settings-export = "==1.2.1"
django-simple-history = "==3.0.0"
django-staff-sso-client = "==2.2.1"
django-storages = "==1.11.1"
django-tables2 = "==2.4.0"
django-webpack-loader = "==0.7.0"
djangorestframework = "==3.12.4"
docutils = "==0.14"
elastic-apm = "==6.2.2"
et-xmlfile = "==1.0.1"
flake8 = "==3.8.4"
future = "==0.18.2"
gevent = "==20.6.2"
greenlet = "==0.4.16"
gunicorn = "==19.9.0"
idna = "==2.7"
importlib-metadata = "==1.6.0"
jdcal = "==1.3"
jedi = "==0.11.1"
jmespath = "==0.9.3"
kombu = "==4.6.10"
kubi-ecs-logger = "==0.0.6"
libsass = "==0.20.0"
marshmallow = "==2.19.2"
mccabe = "==0.6.1"
mohawk = "==1.1.0"
more-itertools = "==4.3.0"
oauthlib = "==2.1.0"
odfpy = "==1.3.6"
openpyxl = "==3.0.5"
parso = "==0.1.1"
pexpect = "==4.4.0"
pickleshare = "==0.7.4"
pluggy = "==0.13.1"
prompt-toolkit = "==1.0.15"
psycogreen = "==1.0.2"
psycopg2 = "==2.8.6"
ptyprocess = "==0.5.2"
public = "==1.0.3"
py = "==1.10.0"
pycodestyle = "==2.6.0"
pydot = "==1.2.4"
pyflakes = "==2.2.0"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
python-dotenv = "==0.9.1"
pytz = "==2018.3"
query-string = "==1.0.2"
raven = "==6.9.0"
rcssmin = "==1.0.6"
redis = "==3.5.3"
requests-oauthlib = "==1.0.0"
requests = "==2.25.1"
rjsmin = "==1.1.0"
s3transfer = "==0.4.2"
sentry-sdk = "==1.1.0"
simplegeneric = "==0.8.1"
six = "==1.15.0"
sqlparse = "==0.2.4"
tablib = {version = "==2.0.0", extras = ["html", "ods", "xls", "xlsx", "yaml"]}
text-unidecode = "==1.3"
unicodecsv = "==0.14.1"
urllib3 = "==1.26.5"
vine = "==1.3.0"
wcwidth = "==0.1.7"
whitenoise = "==5.2"
xlrd = "==1.1.0"
xlwt = "==1.3.0"
zipp = "==3.1.0"
"zope.event" = "==4.4"
"zope.interface" = "==5.1.0"
Django = "==3.2.4"
MarkupPy = "==1.14"
Pygments = "==2.8.1"
PyYAML = "==5.4.1"

[dev-packages]

[requires]
python_version = "3.9"
