{% extends "leaving/leaving_base.html" %}
{% load static %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Confirm your information</h1>
            {% include "includes/govt_error_summary.html" with errors=errors %}
            <p class="govuk-body">Please review it all the intormation is correct and add a purposed leavina date, If you nave one.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About me</h2>
            {% include "includes/leaver_details.html" with leaver_details=leaver_details leaver_info=leaver_info %}
            <a href="{% url 'leaver-update-details' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
        </div>
    </div>

    {% if has_dse %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Display screen equipment</h2>
                <dl class="govuk-summary-list">
                    {% for dse_asset in dse_assets %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Asset name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ dse_asset.name }}
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
                <a href="{% url 'leaver-display-screen-equipment' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Laptop, phone and other IT equipment</h2>
            <dl class="govuk-summary-list">
                {% for cirrus_asset in cirrus_assets %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Asset name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ cirrus_asset.name }}
                        </dd>
                    </div>
                {% endfor %}
            </dl>
            <a href="{% url 'leaver-cirrus-equipment' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">IT equipment return option</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Return option
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if return_option == "home" %}
                            Return to home
                        {% elif return_option == "office" %}
                            Return to the office
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Personal phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ return_personal_phone }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Personal email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ return_contact_email }}
                    </dd>
                </div>
                {% if return_option == "home" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Return address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ return_address }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
            <a href="{% url 'leaver-return-options' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Your line manager</h2>
            {% if manager %}
                {% include "staff_search/staff_result.html" with staff_details=manager %}
                <a href="{{ manager_search }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">This is not my line manager</a>
            {% else %}
                <p class="govuk-body">You have no line manager assigned.</p>
                <a href="{{ manager_search }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add vour line maneger</a>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Proposed leaving date</h2>
            <p class="govuk-body">Please add a leaving date if known. If you are unsure your line manager can add this intormationator</p>
            <form novalidate method='post'>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "last_day" %}
                        {% include "includes/govt_uk_field.html" with field=field %}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
            </form>
        </div>
    </div>
{% endblock %}
