{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'leaver-return-information' %}" class="govuk-back-link">Back</a>
            {% include "leaving/progress_indicator.html" with steps=progress_steps %}
            {% error_summary form %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Confirm your information</h1>
            {% include "includes/govt_error_summary.html" with errors=errors %}
            <p class="govuk-body">Please review and edit your details if needed.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About me</h2>
            {% include "includes/leaver_details.html" with leaver_details=leaver_details leaver_info=leaver_info %}
            <a href="{% url 'leaver-update-details' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Cirrus kit</h2>
            {% if cirrus_assets %}
                <dl class="govuk-summary-list">
                    {% for cirrus_asset in cirrus_assets %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Asset name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ cirrus_asset.name }}
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            {% else %}
                <p class="govuk-body">No Cirrus kit listed.</p>
            {% endif %}
            <a href="{% url 'leaver-cirrus-equipment' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
        </div>
    </div>

    {% if return_option or return_personal_phone or return_contact_email or return_address %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Cirrus kit return option</h2>
                <dl class="govuk-summary-list">
                    {% if return_option %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Return option
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if return_option == "home" %}
                                    Return to home
                                {% elif return_option == "office" %}
                                    Return to the office
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if return_personal_phone %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact phone
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ return_personal_phone }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if return_contact_email %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ return_contact_email }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if return_option == "home" and leaver_info.return_address %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Return address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <address>
                                    <p>{{ leaver_info.return_address.line_1 }}</p>
                                    <p>{{ leaver_info.return_address.line_2 }}</p>
                                    <p>{{ leaver_info.return_address.town_or_city }}</p>
                                    <p>{{ leaver_info.return_address.county }}</p>
                                    <p>{{ leaver_info.return_address.postcode }}</p>
                                </address>
                            </dd>
                        </div>
                    {% endif %}
                </dl>
                <a href="{% url 'leaver-return-options' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
            </div>
        </div>
    {% endif %}

    {% if has_dse %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">IT equipment</h2>
                {% if dse_assets %}
                    <dl class="govuk-summary-list">
                        {% for dse_asset in dse_assets %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Asset name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ dse_asset.name }}
                                </dd>
                            </div>
                        {% endfor %}
                    </dl>
                {% else %}
                    <p class="govuk-body">No IT equipment listed.</p>
                {% endif %}
                <a href="{% url 'leaver-display-screen-equipment' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit information</a>
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row {% if not manager %}govuk-form-group--error{% endif %}">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Your line manager</h2>
            {% if manager %}
                {% include "staff_search/staff_result.html" with staff_details=manager %}
                <a href="{{ manager_search }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">This is not my line manager</a>
            {% else %}
                <p class="govuk-body">You have no line manager assigned.</p>
                <a href="{{ manager_search }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add your line manager</a>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Send us your leaving information</h2>
            <p class="govuk-body">By submitting this information, you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
            <p class="govuk-body">We will send an email notification to your line manager after you accept and send.</p>
            <form novalidate method='post'>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
