{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% error_summary form %}</div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if user_is_leaver %}<span class="govuk-caption-l">Page 4 of 9</span>{% endif %}
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% if user_is_leaver %}
                <p class="govuk-body">Tell us when your:</p>
            {% else %}
                <p class="govuk-body">Tell us when the leaver's:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet">
                <li>last day of work is</li>
                <li>official leaving day is</li>
            </ul>
            {% if user_is_leaver %}
                <p class="govuk-body">
                    These days may be different. For example, if you are taking annual or flexi leave before your official leaving day.
                </p>
            {% else %}
                <p class="govuk-body">
                    These days may be different. For example, if the leaver is taking annual or flexi leave before their official leaving day.
                </p>
            {% endif %}
            {% crispy form %}
        </div>
    </div>
{% endblock content %}
