{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% error_summary submission_form %}
            {% error_summary add_asset_form %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if user_is_leaver %}<span class="govuk-caption-l">Page 8 of 10</span>{% endif %}
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">
                This includes kit that you have claimed on expenses as well as kit provided by {{ DEPARTMENT_ACRONYM }}. It must be worth over £150.
            </p>
            <p class="govuk-body">
                If you got your kit in coronavirus (COVID-19) and it is worth less than £150, you can keep it.
            </p>
            <p class="govuk-body">This could be:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>specialist laptops, including Apple M1 laptops</li>
                <li>specialist chairs</li>
                <li>standing desks</li>
                <li>network hardware</li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Add your kit</h2>
            {% if dse_assets %}
                {% if user_is_leaver %}
                    <h3 class="govuk-heading-s">Your expensed assets:</h3>
                {% else %}
                    <h3 class="govuk-heading-s">The leaver's expensed assets:</h3>
                {% endif %}
                <dl class="govuk-summary-list">
                    {% for asset in dse_assets %}
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                {{ asset.name }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link"
                                    href="{% url 'leaver-display-screen-equipment-delete' leaving_request.uuid asset.uuid %}">Remove</a>
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            {% endif %}
            <form novalidate method='post'>
                {% csrf_token %}
                <input type="hidden" name="form_name" value="add_asset_form" />
                {% crispy add_asset_form %}
            </form>
            <p class="govuk-body">The IT Ops team will contact you to arrange the return of your equipment.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form novalidate method='post'>
                {% csrf_token %}
                <input type="hidden" name="form_name" value="submission_form" />
                {% crispy submission_form %}
            </form>
        </div>
    </div>
{% endblock content %}
