{% extends "leaving/leaving_base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">
                If you need help, email <a class="govuk-link" href="mailto:{{ DIT_OFFBOARDING_EMAIL }}">{{ DIT_OFFBOARDING_EMAIL }}</a>
            </p>
            <p class="govuk-body">
                If you are leaving DIT for a different reason, <a class="govuk-link"
                    target="_blank"
                    href="{{ JML_LEAVING_DIT_GUIDANCE_URL }}">read the Leaving DIT guidance on Digital Workspace</a>.
            </p>
            <p class="govuk-body">
                For more information on loans, <a class="govuk-link"
                    target="_blank"
                    href="{{ DIT_LOANS_GUIDANCE_URL }}">read the guidance on Digital Workspace</a>.
            </p>
        </div>
    </div>
{% endblock content %}
