{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% error_summary form %}</div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if user_is_leaver %}<span class="govuk-caption-l">Page 9 of 10</span>{% endif %}
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% if user_is_leaver %}
                <p class="govuk-body">
                    This information will only be used for {{ DEPARTMENT_ACRONYM }} offboarding purposes (for example, to send your P60).
                </p>
            {% else %}
                <p class="govuk-body">
                    This information will only be used for {{ DEPARTMENT_ACRONYM }} offboarding purposes (for example, to send the leaver's P60).
                </p>
            {% endif %}
            <form novalidate method='post'>
                {% crispy form %}
                <script>
                    getAddress.autocomplete(
                        'contact_address_line_1',
                        '{{ GETADDRESS_TOKEN }}', {
                            output_fields: {
                                line_1: 'contact_address_line_1',
                                line_2: 'contact_address_line_2',
                                town_or_city: 'contact_address_city',
                                county: 'contact_address_county',
                                postcode: 'contact_address_postcode',
                            },
                        }
                    );
                </script>
            </form>
        </div>
    </div>
{% endblock content %}
