{% extends "leaving/leaving_base.html" %}
{% load static %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Thank you for completing the form</h1>
            </div>
        </div>
    </div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l"></h1>
            <p class="govuk-body">We have sent you and your line manager a confirmation email.</p>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">We've sent your request to your Line Manager to confirm your leaving date, once they have done this:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Service Now who will process your IT equipment return, they may ask you for more information</li>
                <li>SRE Team who will schedule your removal from IT tools and services</li>
            </ul>
            <p class="govuk-body">To ensure that your pay is correct, log into <a href="#" target="_blank">UKBS Connect</a> and make sure your personal details are up to date such as:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>home phone</li>
                <li>home address</li>
                <li>attendance records, including sick leave</li>
            </ul>
        </div>
    </div>
{% endblock %}
