{% extends "leaving/leaving_base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'why-are-you-leaving' %}" class="govuk-back-link">Back</a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <p class="govuk-body">This service is for people who are leaving DIT.</p>
            <p class="govuk-body">
                If you need help, email <a class="govuk-link" href="mailto:{{ DIT_OFFBOARDING_EMAIL }}">{{ DIT_OFFBOARDING_EMAIL }}</a>
            </p>
            <p class="govuk-body">
                Go to <a class="govuk-link" href="https://workspace.trade.gov.uk/">Digital Workspace</a>
            </p>
        </div>
    </div>
{% endblock content %}
