{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <a href="{% url 'who' %}" class="govuk-back-link">Back</a>

    {% error_summary form %}

    {% include "leaving/progress_indicator.html" with steps=progress_steps %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Hi {{ leaver_name }},</h1>
            <p class="govuk-body">Please check, update and add any missing information.</p>
            <p class="govuk-body">The details you add will only be seen by the teams who need that specific piece of information to process your leaving request, so your: personal email, phone number and address will only be seen by your line manager and Service Now.</p>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About me</h2>
            <form novalidate method='post'>
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
