{% extends "leaving/leaving_base.html" %}
{% load static crispy_forms_tags crispy_forms_gds %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Page 1 of 9</span>
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% crispy form %}
            <div class="radio-conditional-field conditional-reason-transfer">
                <div class="govuk-notification-banner govuk-!-margin-bottom-0"
                    role="alert"
                    aria-labelledby="govuk-notification-banner-title"
                    data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title"
                            id="govuk-notification-banner-title">Important</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            Before filling in this form you must have agreed a start date with your new department.
                        </h3>
                        <p class="govuk-body">
                            See the Intranet guidance for <a class="govuk-notification-banner__link"
                                href="{{ TRANSFER_TO_OGD_URL }}">transfering to another government department</a>.
                        </p>
                        <p class="govuk-body">This service is not suitable if you are a Contractor or in the Civil Service Fast Stream.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
