{% extends "base.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            <h2 class="govuk-heading-m">Leaving Requests ({{ num_of_leaving_requests }})</h2>
            <a href="{% url 'admin-leaving-request-listing' %}"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button">View all</a>
            <h2 class="govuk-heading-m">Emails with multiple Person IDs ({{ emails_with_person_ids|length }})</h2>
            {% if emails_with_person_ids %}
                <p class="govuk-body">
                    Users with the emails below will NOT be able to use this service until the duplicate Person IDs issue is resolved.
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    {% for email in emails_with_person_ids %}<li>{{ email }}</li>{% endfor %}
                </ul>
            {% else %}
                <p class="govuk-body">No emails with multiple Person IDs!</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
