{% load static %}
<header class="govuk-header dit-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container dit-header_container app-width-container govuk-width-container">
        <div class="govuk-header__logo">
            <span class="govuk-header__logotype dit-header__logotype">
                <img height="36" width="36" src="{% static 'assets/dit-crest.svg' %}" alt="Department for International Trade crest" />
                <span class="govuk-header__logotype-text dit-header__logotype-text">
                    <a href="{% url 'start' %}" class="govuk-header__link govuk-header__link--service-name dit-header__link--service-name">{% if service_name %}{{ service_name }}{% else %}{{ SERVICE_NAME }}{% endif %}</a>
                </span>
            </span>
        </div>
        <div class="govuk-header__content">
            <!-- <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation"
                    aria-label="Show or hide navigation menu">Menu
            </button> -->
            {% block nav %}
                {% include "includes/menu.html" with user=user %}
            {% endblock nav %}
        </div>
    </div>
</header>
