{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds govuk_frontend_django %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% error_summary form %}</div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% include "leaving/security_team/includes/leaving_request_details.html" with show_leaver_dob=True %}
            <h2 class="govuk-heading-m">Pass status</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    {% if pass_disabled %}
                        <dd class="govuk-summary-list__value">
                            Pass deactivated
                        </dd>
                        <dd class="govuk-summary-list__value govuk-!-text-align-right">
                            {{ pass_disabled.created_at }} by {{ pass_disabled.user.get_full_name }}
                        </dd>
                    {% else %}
                        <dd class="govuk-summary-list__value">
                            Pass is active
                        </dd>
                    {% endif %}
                </div>
                {% if pass_returned %}
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                            Pass returned
                        </dd>
                        <dd class="govuk-summary-list__value govuk-!-text-align-right">
                            {{ pass_returned.created_at }} by {{ pass_returned.user.get_full_name }}
                        </dd>
                    </div>
                {% endif %}
                {% if pass_destroyed %}
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                            Pass destroyed
                        </dd>
                        <dd class="govuk-summary-list__value govuk-!-text-align-right">
                            {{ pass_destroyed.created_at }} by {{ pass_destroyed.user.get_full_name }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
            {% if not read_only %}
                <a href='{% url "security-team-building-pass-confirmation-edit" leaving_request_uuid %}'
                   class="govuk-button govuk-button--secondary">Edit pass status</a>
            {% endif %}
            <h2 class="govuk-heading-m">Security clearance</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    {% if security_clearance_status_task_log %}
                        <dd class="govuk-summary-list__value">
                            Marked as {{ security_clearance_status.label }}
                            {% if security_clearance_other_label %}({{ security_clearance_other_label }}){% endif %}
                        </dd>
                        <dd class="govuk-summary-list__value govuk-!-text-align-right">
                            {{ security_clearance_status_task_log.created_at }} by {{ security_clearance_status_task_log.user.get_full_name }}
                        </dd>
                    {% else %}
                        <dd class="govuk-summary-list__value">
                            Security clearance is active
                        </dd>
                    {% endif %}
                </div>
            </dl>
            {% if not read_only %}
                <a href='{% url "security-team-security-clearance-confirmation-edit" leaving_request_uuid %}'
                   class="govuk-button govuk-button--secondary">Edit security status</a>
            {% endif %}
            <p class="govuk-body">The following needs to happen before this record can be marked as complete:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the pass needs to be marked as deactivated, returned and destroyed</li>
                <li>security clearance needs to be marked as Lapsed or Other</li>
            </ul>
            {% if not read_only and can_complete %}
                <a href='{% url "security-team-buidling-pass-confirmation-close" leaving_request_uuid %}'
                   class="govuk-button govuk-button--warning">Mark record as complete</a>
            {% endif %}
            <h2 class="govuk-heading-m">Notes</h2>
            {% if not read_only %}
                <form novalidate method='post'>
                    {% crispy form %}
                </form>
            {% endif %}
            {% include "leaving/includes/task_notes.html" with task_notes=task_notes %}
            {% if read_only %}
                <a href="{% url 'security-team-building-pass-confirmation' leaving_request_uuid=leaving_request.uuid %}"
                   class="govuk-button"
                   data-module="govuk-button">Edit record</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
