{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
            <a href="{% url 'security-team-listing-incomplete' %}" class="govuk-back-link">Back</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% include "leaving/security_team/includes/leaving_request_details.html" %}

            <h2 class="govuk-heading-m">ROSA Kit status</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">ROSA Mobile</dd>
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">{% firstof rosa_mobile_status "Pending" %}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">ROSA Laptop</dd>
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">{% firstof rosa_laptop_status "Pending" %}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">ROSA Key</dd>
                    <dd class="govuk-summary-list__value govuk-!-text-align-right">{% firstof rosa_key_status "Pending" %}</dd>
                </div>
            </dl>
            <a href="{% url 'security-team-rosa-kit-confirmation-edit' leaving_request_uuid %}" class="govuk-button">Edit status</a>

            <h2 class="govuk-heading-m">Notes</h2>
            <form novalidate method='post'>
                {% crispy form %}
            </form>
            {% include "leaving/includes/task_notes.html" with task_notes=task_notes %}
        </div>
    </div>
{% endblock content %}
