{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary update_status_form %}
            {% error_summary add_note_form %}
            <a href="{% url 'security-team-rosa-kit-confirmation' leaving_request_uuid %}" class="govuk-back-link">Back to ROSA Kit requests</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page_title }}</h1>
            {% include "leaving/security_team/includes/leaving_request_details.html" %}

            <h2 class="govuk-heading-m">{{ rosa_kit_name }}</h2>
            <form novalidate method='post'>
                <input type="hidden" name="form_name" value="update_status_form" />
                {% crispy update_status_form %}
            </form>

            <h2 class="govuk-heading-m">Notes</h2>
            <form novalidate method='post'>
                <input type="hidden" name="form_name" value="add_note_form" />
                {% crispy add_note_form %}
            </form>
            {% include "leaving/includes/task_notes.html" with task_notes=task_notes %}
        </div>
    </div>
{% endblock content %}
