{% comment %}
    Override of the Crispy forms GDS template:
    https://github.com/wildfish/crispy-forms-gds/blob/master/src/crispy_forms_gds/templates/gds/layout/radios.html /PS-IGNORE

    Shows errors of visible and non visibile fields.
    For hidden fields, append_hidden to the link so we can relate to a different anchor.
{% endcomment %}
{% load l10n crispy_forms_gds govuk_frontend_django %}
{% set fieldset_aria_describedby %}
    {% if field.help_text or field.errors %}
        {% if field.help_text %}{{ field.auto_id }}_hint{% endif %}
        {% for error in field.errors %}{{ field.auto_id }}_{{ forloop.counter }}_error{% endfor %}
    {% endif %}
{% endset %}
<fieldset class="govuk-fieldset"
          aria-describedby="{{ fieldset_aria_describedby }}">
    {% if field.label %}
        <legend class="govuk-fieldset__legend{% if legend_size %} {{ legend_size }}{% endif %}">
            {% if legend_tag %}<{{ legend_tag }} class="govuk-fieldset__heading">{% endif %}
            {{ field.label|safe }}
            {% if legend_tag %}</{{ legend_tag }}>{% endif %}
        </legend>
    {% endif %}
    {% include "gds/layout/help_text_and_errors.html" %}
    <div class="govuk-radios {% if radios_inline %}govuk-radios--inline{% endif %}{% if radios_small %} govuk-radios--small{% endif %}">
        {% for choice in field.field.choices %}
            <div class="govuk-radios__item">
                <input type="radio"
                       name="{{ field.html_name }}"
                       class="govuk-radios__input"
                       id="id_{{ field.html_name }}_{{ forloop.counter }}"
                       value="{{ choice.0|unlocalize }}"
                       {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked" {% endif %}
                       {% if choice.hint %}aria-describedby="id_{{ field.html_name }}_{{ forloop.counter }}_hint"{% endif %} />
                <label class="govuk-label govuk-radios__label"
                       for="id_{{ field.html_name }}_{{ forloop.counter }}">{{ choice.1|unlocalize }}</label>
                {% if choice.hint %}
                    <span id="id_{{ field.html_name }}_{{ forloop.counter }}_hint"
                          class="govuk-hint govuk-radios__hint">{{ choice.hint }}</span>
                {% endif %}
            </div>
            {% if has_conditionals %}
                <div id="conditional-{{ field.html_name }}-{{ choice.0 }}"
                     class="govuk-radios__conditional govuk-radios__conditional--hidden">
                    <div class="govuk-form-group"></div>
                </div>
            {% endif %}
            {% if choice.divider %}<div class="govuk-radios__divider">{{ choice.divider }}</div>{% endif %}
        {% endfor %}
    </div>
</fieldset>
