{% load static %}
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ SERVICE_NAME }}{% endblock title %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="theme-color" content="blue" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href='{% static "assets/favicon.ico" %}' type="image/x-icon" />
        <link rel="mask-icon" href='{% static "govuk-frontend/govuk/assets/images/govuk-mask-icon.svg" %}' color="blue" />
        <link rel="apple-touch-icon" sizes="180x180"
            href='{% static "govuk-frontend/govuk//images/govuk-apple-touch-icon-180x180.png" %}' />
        <link rel="apple-touch-icon" sizes="167x167"
            href='{% static "govuk-frontend/govuk//images/govuk-apple-touch-icon-167x167.png" %}' />
        <link rel="apple-touch-icon" sizes="152x152"
            href='{% static "govuk-frontend/govuk//images/govuk-apple-touch-icon-152x152.png" %}' />
        <link rel="apple-touch-icon" href='{% static "govuk-frontend/govuk//images/govuk-apple-touch-icon.png" %}' />

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
        <![endif]-->

        <meta property="og:image" content="govuk-frontend/govuk/assets/images/govuk-opengraph-image.png" />

        {% include "gtm-head.html" %}
    </head>

    <body class="govuk-template__body app-body-class" data-test="My value" data-other="report:details">
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>

        {% include "cookies/banner.html" %}

        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

        {% include "includes/header/dit.html" %}
        {% comment %} {% include "includes/header/govuk.html" %} {% endcomment %}


        <div class="govuk-width-container app-width-container">

            {% block primary_navigation %}{% endblock primary_navigation %}

            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service - your <a class="govuk-link" href="{% url 'beta-service-feedback' %}" target="_blank">feedback</a> will help us to improve it.
                    </span>
                </p>
            </div>

            <main class="govuk-main-wrapper app-main-class {% block main_class_names %}{% endblock main_class_names %}" id="main-content"
                role="main">
                {% block content %}{% endblock content %}
            </main>
        </div>

        {% comment %} {% include "includes/footer/govuk.html" %} {% endcomment %}
        {% include "includes/footer/dit.html" %}

        <script src='{% static "govuk-frontend/govuk/all.js" %}'></script>
        <script src='{% static "cytoscape/dist/cytoscape.min.js" %}'></script>
        <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script><!-- /PS-IGNORE -->
        <script src='{% static "cytoscape-dagre/cytoscape-dagre.js" %}'></script>
        <script src='{% static "js/conditional-radios.js" %}'></script>
        <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script><!-- /PS-IGNORE -->
        <script>
            const CSRF_TOKEN = "{{ csrf_token }}";

            document.body.addEventListener('htmx:configRequest', function(event) {
                event.detail.headers['X-CSRFToken'] = CSRF_TOKEN;
            });
        </script>

        {% include "gtm-body.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>

</html>