{% extends "govuk_frontend_django/base.html" %}
{% load static govuk_frontend_django %}

{% block title %}
    {% if page_title %}{{ page_title }} -{% endif %}
    {{ SERVICE_NAME }}
{% endblock title %}

{% block head %}
    {% include "gtm-head.html" %}

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="noindex" />

    {{ block.super }}

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->
    <meta property="og:image" content="govuk-frontend/govuk/assets/images/govuk-opengraph-image.png" />
{% endblock head %}

{% block body_start %}
    {% include "gtm-body.html" %}
    <script src='{% static "getaddress-autocomplete/dist/getaddress-autocomplete-1.1.7.min.js" %}'></script>
{% endblock body_start %}

{% block header %}
    {% include "cookies/banner.html" %}
    {% include "includes/header/dit.html" %}

    <div class="govuk-width-container">
        {% gds_phase_banner %}
        {% gds_component "tag" text="beta" %}
            This is a new service - your <a class="govuk-link" href="{% url 'beta-service-feedback' %}" target="_blank">feedback</a> will help us to improve it.
        {% endgds_phase_banner %}

        {% block primary_navigation %}{% endblock primary_navigation %}

        {% if back_link_url %}
            {% set back_link_text %}{{ back_link_text|default_if_none:'Back' }}{% endset %}
            {% gds_component "back-link" classes="mb-0" href=back_link_url text=back_link_text %}
        {% endif %}
    </div>
{% endblock header %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block footer %}
    {% include "includes/footer/dit.html" %}
{% endblock footer %}

{% block body_end %}
    {{ block.super }}
    <script src='{% static "cytoscape/dist/cytoscape.min.js" %}'></script>
    <script src='{% static "dagre/dist/dagre.min.js" %}'></script>
    <script src='{% static "cytoscape-dagre/cytoscape-dagre.js" %}'></script>
    <script src='{% static "js/conditional-radios.js" %}'></script>
    <script src='{% static "htmx.org/dist/htmx.min.js" %}'></script>
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";

        document.body.addEventListener('htmx:configRequest', function(event) {
            event.detail.headers['X-CSRFToken'] = CSRF_TOKEN;
        });
    </script>
{% endblock body_end %}
