<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <img class="leaver-image" src="{{ leaver_details.photo }}"
            alt="Picture of {{ leaver_details.first_name }} {{ leaver_details.last_name }}" />
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">{{ leaver_details.first_name }} {{ leaver_details.last_name }}</p>
        <p class="govuk-body">{% firstof leaver_details.job_title "Not provided" %}</p>
        <p class="govuk-body">{{ leaver_info.leaver_email }}</p>
    </div>
    
</div>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Staff ID
        </dt>
        <dd class="govuk-summary-list__value">
            {% firstof leaver_details.staff_id "Not provided" %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Personal email
        </dt>
        <dd class="govuk-summary-list__value">
            {% firstof leaver_details.contact_email_address "Not provided" %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Security clearance
        </dt>
        <dd class="govuk-summary-list__value">
            {% firstof leaver_info.leaving_request.get_security_clearance_display "Not provided" %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Locker number
        </dt>
        <dd class="govuk-summary-list__value">
            {% firstof leaver_info.locker_number "Not provided" %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Has Government Procurement Card
        </dt>
        <dd class="govuk-summary-list__value">
            {{ leaver_info.leaving_request.holds_government_procurement_card|yesno:"Yes,No"}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Is a ROSA user
        </dt>
        <dd class="govuk-summary-list__value">
            {{ leaver_info.leaving_request.is_rosa_user|yesno:"Yes,No"}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Has Display screen equipment
        </dt>
        <dd class="govuk-summary-list__value">
            {{ leaver_info.has_dse|yesno:"Yes,No"}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Leaving date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ leaver_info.leaving_date.date }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Last working day
        </dt>
        <dd class="govuk-summary-list__value">
            {{ leaver_info.last_day.date }}
        </dd>
    </div>
</dl>
