{% comment %}
Context:
    page_obj (Page): The current page
    page_numbers (list[str]): List of page numbers from `get_elided_page_range`
    page_obj_name (str): The name of the page object
{% endcomment %}
{% if page_obj.has_other_pages %}
    {% if page_obj.paginator.count != 0 %}
        <p class="govuk-body govuk-!-font-size-19">
            Showing <b>{{ page_obj.start_index }}</b> to <b>{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b> {{ page_obj_name }}
        </p>
    {% endif %}
    <nav class="govuk-pagination" role="navigation" aria-label="results">
        {% if page_obj.has_previous %}
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link"
                    href="?page={{ page_obj.previous_page_number }}"
                    rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                        xmlns="http://www.w3.org/2000/svg"
                        height="13"
                        width="15"
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z" />
                    </svg>
                    <span class="govuk-pagination__link-title">Previous</span>
                </a>
            </div>
        {% endif %}
        <ul class="govuk-pagination__list">
            {% for num in page_numbers %}
                <li class="govuk-pagination__item {% if num == page_obj.number %}govuk-pagination__item--current{% endif %} {% if num == page_obj.paginator.ELLIPSIS %}govuk-pagination__item--ellipses{% endif %}">
                    {% if num == page_obj.paginator.ELLIPSIS %}
                        {% comment %} &ctdot; {% endcomment %}
                        ⋯
                    {% else %}
                        <a class="govuk-link govuk-pagination__link"
                            href="?page={{ num }}"
                            aria-label="Page {{ num }}">{{ num }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if page_obj.has_next %}
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link"
                    href="?page={{ page_obj.next_page_number }}"
                    rel="next">
                    <span class="govuk-pagination__link-title">Next</span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                        xmlns="http://www.w3.org/2000/svg"
                        height="13"
                        width="15"
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 15 13">
                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z" />
                    </svg>
                </a>
            </div>
        {% endif %}
    </nav>
{% endif %}
