{% extends "flow/flow_base.html" %}

{% block content %}
    <h1 class="govuk-heading-l">{{ page_title }}</h1>
    <p class="govuk-body">
        <a class="govuk-body" href="{% url 'flow-create' %}">Create leaving request</a>
    </p>
    {% for flow in object_list %}
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Workflow
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ flow.workflow_name|title }} - {{ flow.flow_name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Current state
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ flow.nice_name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Started by
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ flow.executed_by }}
                </dd>
            </div>
            {% if flow.started %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Started at
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ flow.started|default_if_none:"" }}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Actions
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if flow.leaving_request %}
                        <p><a class="govuk-link" href="{% url 'admin-leaving-request-detail' flow.leaving_request.uuid %}">View leaving request</a></p>
                    {% endif %}
                    <p><a class="govuk-link" href="{% url 'flow' flow.pk %}">View flow</a></p>
                    {% if flow.on_manual_step or not flow.is_complete %}
                        <p><a class="govuk-link" href="{% url "flow-continue" flow.pk %}">Progress leaving</a></p>
                    {% endif %}
                </dd>
            </div>
        </dl>
    {% empty %}
        <p class="govuk-body">No leaving requests yet.</p>
    {% endfor %}
{% endblock %}
