{% extends "base.html" %}
{% block nav %}
    <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                <a class="govuk-header__link" href="/">
                    Leaving requests
                </a>
            </li>
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                <a class="govuk-header__link" href="/new">
                    Create leaving request
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
