{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">{{ page_title }}</h1>
                <h2 class="govuk-heading-m">Leaver steps</h2>
                <dl class="govuk-summary-list">
                    {% for step_status in leaver_step_statuses %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if step_status.previous_step_complete and not leaving_request.leaver_complete %}
                                    <a class="govuk-link" href="{{ step_status.url }}">{{ step_status.view_name }}</a>
                                {% else %}
                                    {{ step_status.view_name }}
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <strong class="govuk-tag {% if step_status.status != 'complete' %}govuk-tag--grey{% endif %}">{{ step_status.status }}</strong>
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
                <h2 class="govuk-heading-m">Manager steps</h2>
                <dl class="govuk-summary-list">
                    {% for step_status in manager_step_statuses %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if step_status.previous_step_complete and not leaving_request.line_manager_complete %}
                                    <a class="govuk-link" href="{{ step_status.url }}">{{ step_status.view_name }}</a>
                                {% else %}
                                    {{ step_status.view_name }}
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <strong class="govuk-tag {% if step_status.status != 'complete' %}govuk-tag--grey{% endif %}">{{ step_status.status }}</strong>
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}
