{% load static crispy_forms_tags crispy_forms_gds staff_search %}
{% if staff_results %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for staff_details in staff_results %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        {{ staff_details.first_name }} {{ staff_details.last_name }}
                        <p class="govuk-body">
                            {% search_result_additional_information staff_details.job_title staff_details.email_addresses.0 %}
                        </p>
                    </th>
                    <td class="govuk-table__cell">
                        <a href="{{ success_url }}?{{ query_param_name }}={{ staff_details.uuid }}"
                           class="govuk-button govuk-button--secondary"
                           data-module="govuk-button">Select <span class="govuk-visually-hidden">{{ staff_details.first_name }} {{ staff_details.last_name }}</span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="govuk-body" role="status">No results found</p>
{% endif %}
