{% comment %}

HTMX Staff search field

Usage: {% include "staff_search/search_field.html" with search_identifier="leaver_manager_search" search_url=manager_search_url %}
 - search_identifier: string - a unique identifier so we can have multiple on one page
 - search_url: string - the url to post the search to
 - staff_uuid: Optional[string] - the uuid of the staff member to pre-populate the search field with
 - remove_url: string - the url to post to when removing a staff member

{% endcomment %}

<div
    id="{{ search_identifier }}-staff-result"
    {% if staff_uuid %}
        hx-get="{% url "staff-result" staff_uuid=staff_uuid %}"
        hx-trigger="load"
    {% endif %}
>
</div>
{% if staff_uuid %}
    {% if remove_url %}
        <a href="{{ remove_url }}" class="govuk-button govuk-button--secondary">Remove line manager</a>
    {% endif %}
{% else %}
    <input
        id="id_{{ search_identifier }}_hidden"
        class="govuk-input"
        type="search"
        name="{{ search_identifier }}_search_terms"
        placeholder="Start typing to search"
        hx-post="{{ search_url }}"
        hx-trigger="keyup changed delay:200ms, search"
        hx-target="#{{ search_identifier }}-search-results"
        hx-indicator="#{{ search_identifier }}-htmx-indicator"
        hx-params="{{ search_identifier }}_search_terms" />
    <span id="{{ search_identifier }}-htmx-indicator" class="htmx-indicator"><p class="govuk-body">Searching...</p></span>
    <div id="{{ search_identifier }}-search-results"></div>
{% endif %}
