{% extends "base.html" %}

{% block nav %}
    <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                <a class="govuk-header__link" href="{% url 'dev_tools:index' %}">Dev tools</a>
            </li>
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                <a class="govuk-header__link" href="{% url 'start' %}">Start leaving process</a>
            </li>
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                {{ user }}
            </li>
        </ul>
    </nav>
{% endblock %}
