{% extends "leaving/leaving_base.html" %}

{% block main_class_names %}back-link-format{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'details' %}" class="govuk-back-link">Back</a>
            <h2 class="govuk-heading-m">Search for the person leaving</h2>
            <form novalidate method='post'>
                {% csrf_token %}
                {% include "includes/govt_uk_form.html" with form=form %}
                <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
            </form>
        </div>
    </div>
{% endblock %}
