{% extends "leaving/leaving_base.html" %}

{% block content %}
    <h1 class="govuk-heading-l">Leaving DIT: leaver's actions</h1>
    <p class="govuk-body">Whether you are a civil servant or contractor it is mandatory that you complete this form, so all teams that process your off-boarding will receive the information they need to do so.</p>
    <p class="govuk-body">Your line manager will be notified when you have completed this form as they will be asked to confirm some of the information you have provided.</p>
    <p class="govuk-body">This form should take less than 10 mins to compete</p>
    <a href="{% url 'leaver-update-details' %}" role="button" draggable="false" class="govuk-button govuk-button--start"
        data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
    </a>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">To complete the form, you will need to know your:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>security clearance level</li>
        <li>leaving date, the last day you are emploved by DIT</li>
        <li>last working day, the last day you will be working at DIT</li>
    </ul>
    <p class="govuk-body">Your leaving date and your last working day should have been agreed with your line manager before using this service, if you haven't done so, please contact your line manager.</p>
{% endblock %}
