{% extends "leaving/leaving_base.html" %}
{% load crispy_forms_gds govuk_frontend_django %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ SERVICE_NAME }}: what you need to do</h1>
            <p class="govuk-body">
                This service is for anyone who is resigning, retiring or transferring to another government department. Contractors can also use this service.
            </p>
            <p class="govuk-body">You cannot use this service if you are part of the Civil Service Fast Stream.</p>
            <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body">You need to know:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your security level</li>
                <li>the last day you will work at {{ DEPARTMENT_ACRONYM }}</li>
                <li>the last date you will be paid by {{ DEPARTMENT_ACRONYM }}</li>
            </ul>
            <p class="govuk-body">You must have agreed this with your line manager.</p>
            <p class="govuk-body">This service should take less than 10 minutes to complete</p>
            {% gds_component "button" href=start_url text="Start" isStartButton=True %}
        </div>
    </div>
{% endblock content %}
