{% extends "leaving/leaving_base.html" %}

{% block main_class_names %}back-link-format{% endblock %}

{% block content %}
    <a href="{% url 'start' %}" class="govuk-back-link">Back</a>
    <form novalidate method='post'>
        {% csrf_token %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Who is leaving DIT?
                </h1>
            </legend>
            {% for field in form %}
                {% if field.name == "who_for" %}
                    {% include "includes/govt_uk_field.html" with field=field %}
                {% endif %}
            {% endfor %}
        </fieldset>
        <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
    </form>
{% endblock %}
