{% extends "asset_registry_base.html" %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="{% url 'list-assets' %}" class="govuk-back-link">Back</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ object }}</h1>
            <a href="{% url 'update-software-asset' object.pk %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Make changes
            </a>
            
            {% if add_user_success %}
                {{ add_user_success }}
            {% endif %}
            {% if add_user_error %}
                {{ add_user_error }}
            {% endif %}

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Software name</th>
                        <td class="govuk-table__cell">{{ object.software_name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Licence number</th>
                        <td class="govuk-table__cell">{{ object.licence_number }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Licence password</th>
                        <td class="govuk-table__cell">{{ object.licence_password }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Licences available</th>
                        <td class="govuk-table__cell">{{ object.licences_available }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Licences issued</th>
                        <td class="govuk-table__cell">{{ object.licences_issued }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Renewal date</th>
                        <td class="govuk-table__cell">{{ object.renewal_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
                {% if users %}
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for user in users %}
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">{{ user.name }}</th>
                                <td class="govuk-table__cell">{{ user.email }}</td>
                                <td class="govuk-table__cell">
                                    <a href="{% url 'update-software-asset' object.pk %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
            <a href="{% url 'asset-user-search' object.pk %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add a user
            </a>
        </div>
    </div>

{% endblock %}
