$dit-red: #CF102D;

.dit-header {
    background-color: $dit-red !important;
}

.dit-header_container {
    border-bottom: 10px solid #0b0c0c !important;
}

.dit-header__link {
    color: white !important;
}

.dit-header__logotype-text {
    line-height: 40px;
}


.dit-footer-brand {
    border-left: 2px solid $dit-red;
    padding-left: 10px;
}

.dit-footer-brand__name {
    font-size: large;
    font-family: "GDS Transport", arial, sans-serif;
}

.dit-footer-brand__logo {
    filter: invert(100%);
}
