.dit-header {
    .govuk-header__logotype {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .govuk-header__logotype-text {
        line-height: 40px;
    }

    .govuk-header__link {
        color: white !important;
    }

    .govuk-header__link--homepage {
        display: inline-flex;

        a:hover {
            text-decoration: underline;
        }

        a:focus {
            background-color: yellow !important;
        }
    }
}

.govuk-radios__conditional .govuk-fieldset {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}