$govuk-page-width: 1800px;
$govuk-brand-colour: #cf102d;
$govuk-assets-path: "/static/govuk-frontend/govuk/assets/";
@import "./node_modules/govuk-frontend/govuk/all";
@import "./node_modules/@ministryofjustice/frontend/moj/all";
@import "./core/static/css/dit-custom";
@import "./core/static/css/healthcheck";
@import "./leavers/static/leavers/css/sortable_table";

.govuk-width-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.govuk-header__logo {
  width: 40%;
}

.govuk-header__content {
  width: 60%;
}

.govuk-header__navigation {
  margin-top: 0;
  margin-bottom: 10px;
}

.jml--staff-image {
  width: 100%;
  margin-bottom: 26px;
  border: 1px solid black;
}

address p {
  margin: auto;
}

.mb-0 {
  margin-bottom: 0;
}
