$govuk-page-width: 1800px;
$govuk-brand-colour: #CF102D;
$govuk-assets-path: "/static/govuk-frontend/govuk/assets/";
@import "./node_modules/govuk-frontend/govuk/all";
@import "./node_modules/@ministryofjustice/frontend/moj/all";
@import "./core/static/css/dit-custom";
@import "./core/static/css/healthcheck";
@import "./leavers/static/leavers/css/sortable_table";


.jml--leaver-image {
    width: 100%;
    margin-bottom: 26px;
    border: 1px solid black;
}

.govuk-back-link {
    margin-bottom: 40px;
}

address p {
    margin: auto;
}